.flower {
    display: flex;
    justify-content: center;
}

.color-palette {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.color-swatch {
    height: 70px;
    width: 70px;
    border-radius: 7px;
    margin: 9px;
    cursor: pointer;
    border: 4px solid black;
}

.color-swatch-active {
    box-shadow: inset 0 0 15px #000000;
    transition: all 0.2s;
}